modulesets/moduleset.rnc

default namespace = ""

start = moduleset

moduleset = element moduleset { roots,
                                (\include|package)* }

roots = (cvsroot|svnroot|arch-archive)*

cvsroot = element cvsroot {
  attribute name { text },
  attribute root { text },
  attribute password { text }?,
  attribute default { "yes" | "no" }?
}

svnroot = element svnroot {
  attribute name { text },
  attribute href { xsd:anyURI },
  attribute default { "yes" | "no" }?
}

arch-archive = element arch-archive {
  attribute name { text },
  attribute href { xsd:anyURI },
  attribute default { "yes" | "no" }?
}

\include = element include {
  attribute href { xsd:anyURI }
}

package = cvsmodule |
          svnmodule |
          archmodule |
          metamodule |
          tarball |
          mozillamodule |
	  gcjmodule |
	  gdbmodule

dep = element dep {
  attribute package { text }
}
dependencies = element dependencies { dep* }
suggests = element suggests { dep* }

common = attribute id { text } & dependencies* & suggests*

autogen_common = attribute autogenargs { text }? &
                 attribute makeargs { text }? &
                 attribute supports-non-srcdir-builds { "yes" | "no" }? &
                 common

cvsmodule = element cvsmodule {
  attribute module { text }?,
  attribute revision { text }?,
  attribute checkoutdir { text }?,
  attribute cvsroot { text }?,

  autogen_common
}

svnmodule = element svnmodule {
  attribute module { text }?,
  attribute checkoutdir { text }?,
  attribute root { text }?,

  autogen_common
}

archmodule = element archmodule {
  attribute version { text }?,
  attribute checkoutdir { text }?,
  attribute root { text }?,

  autogen_common
}

metamodule = element metamodule { common }

tarball = element tarball {
  attribute version { text },
  attribute checkoutdir { text }?,
  attribute autogenargs { text }?,
  attribute makeargs { text }?,
  attribute supports-non-srcdir-builds { "yes" | "no" }?,

  (element source {
     attribute href { text },
     attribute size { text }?,
     attribute md5sum { text }? } &
   element patches {
     element patch {
       attribute file { text },
       attribute strip { text }?
     }+ }? &
   common)
}

mozillamodule = element mozillamodule {
  attribute module { text }?,
  attribute revision { text }?,
  attribute checkoutdir { text }?,
  attribute autogenargs { text }?,
  attribute makeargs { text }?,
  attribute cvsroot { text }?,
  common
}

gcjmodule = element gcjmodule {
  attribute module { text }?,
  attribute revision { text }?,
  attribute checkoutdir { text }?,
  attribute cvsroot { text }?,

  autogen_common
}

gdbmodule = element gdbmodule {
  attribute module { text }?,
  attribute revision { text }?,
  attribute checkoutdir { text }?,
  attribute cvsroot { text }?,

  autogen_common
}

