modulesets/moduleset.dtd

<!ELEMENT moduleset (cvsroot*,(include|cvsmodule|metamodule|tarball|mozillamodule)*) >

<!ELEMENT cvsroot EMPTY >
<!ATTLIST cvsroot
  name CDATA #REQUIRED
  root CDATA #REQUIRED
  password CDATA #IMPLIED
  default (yes|no) 'no' >

<!ELEMENT include EMPTY >
<!ATTLIST include
  href CDATA #REQUIRED >

<!ELEMENT cvsmodule (dependencies?,suggests?) >
<!ATTLIST cvsmodule
  id CDATA #REQUIRED
  module CDATA #IMPLIED
  revision CDATA #IMPLIED
  checkoutdir CDATA #IMPLIED
  autogenargs CDATA #IMPLIED
  cvsroot CDATA #IMPLIED >

<!ELEMENT metamodule (dependencies) >
<!ATTLIST metamodule
  id CDATA #REQUIRED >

<!ELEMENT tarball
  (source,patches?,dependencies?,suggests?) >
<!ATTLIST tarball
  id CDATA #REQUIRED
  version CDATA #REQUIRED
  versioncheck CDATA #IMPLIED >

<!ELEMENT mozillamodule (dependencies?,suggests?) >
<!ATTLIST mozillamodule
  id CDATA #REQUIRED
  module CDATA #IMPLIED
  revision CDATA #IMPLIED
  checkoutdir CDATA #IMPLIED
  autogenargs CDATA #IMPLIED
  cvsroot CDATA #IMPLIED >

<!-- Tarball sub-elements -->
<!ELEMENT source EMPTY >
<!ATTLIST source
  href CDATA #REQUIRED
  size CDATA #IMPLIED >
<!ELEMENT patches (patch)* >
<!ELEMENT patch (#PCDATA) >

<!-- common sub-elements -->
<!ELEMENT dependencies (dep*) >
<!ELEMENT suggests (dep*) >
<!ELEMENT dep EMPTY >
<!ATTLIST dep
  package CDATA #REQUIRED >
